{
  "extends": "rollup",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-restricted-properties": 0,
    "no-multi-assign": 0
  }
}
